.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    flex-direction: column;
}
h1 {
    font-size: 3em;
    color: white;
}
.button-section {
    box-sizing: border-box;
    margin-top: 20px;
}
app-buttons {
    padding: 10px;
}